<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
   xmlns:composite="http://java.sun.com/jsf/composite">
   <composite:interface>
      <composite:attribute name="usernameValue" />
      <composite:attribute name="passwordValue" />
      <composite:attribute name="loginButtonLabel" />
      <composite:attribute name="loginButtonAction" 
         method-signature="java.lang.String login()" />
   </composite:interface>
   <composite:implementation>
      <h:form id="loginForm">
		<h:graphicImage value="resources/login.png"/>
		<h:outputText id="outputMessage" value="#{user.firstName != null ? 'Zalogowano pomyslnie' : ''}" class="bg-success"/>
		<h:message for="inputName" style="color: #ff8383" />
		<h:inputText id="inputName" class="form-control" pt:placeholder="Your name" value="#{cc.attrs.usernameValue}" required="true" requiredMessage="Name field must not be empty" />
		<h:message for="inputPassword" style="color: #ff8383" />
		<h:inputSecret id="inputPassword" class="form-control" pt:placeholder="Password" value="#{cc.attrs.passwordValue}" required="true" requiredMessage="Password field must not be empty" />
		<h:commandButton class="btn btn-lg btn-primary btn-block" value="#{cc.attrs.loginButtonLabel}" action="#{cc.attrs.loginButtonAction}">
		</h:commandButton>
		<span class="loginFrom_signup">
			<h:outputText value="Not a User? " /> 
			<h:outputLink value="register.xhtml">Sign Up</h:outputLink>
		</span>      	
      </h:form>
   </composite:implementation>
</html>