<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Color Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body class="body--info" style="background-color: #{colorUser.colorName}">

	<div class="container">
		<h:form id="colorForm" class="form-horizontal">
			<p class="bg-success">
			    <strong>Your color was changed to: #{colorUser.colorName}</strong>
			</p>
			<div class="form-group">
			    <label class="col-sm-5 control-label">Select Your color:</label>
			    <div class="col-sm-7">
			    	<h:message for="color_id" style="color:red" />
					<h:selectOneMenu id="color_id" class="form-control" value="#{colorUser.colorName}" valueChangeListener="#{colorUser.changeColorListener}" required="true" requiredMessage="Please select your color" onchange="submit()">
						<f:selectItem itemValue="blue" itemLabel="Blue"></f:selectItem>
						<f:selectItem itemValue="red" itemLabel="Red"></f:selectItem>
						<f:selectItem itemValue="green" itemLabel="Green"></f:selectItem>
                    </h:selectOneMenu>
			    </div>
			</div>
		</h:form>
		<br/>
		<h:outputLink value="success.xhtml" class="btn btn-primary btn-lg btn-block">Back</h:outputLink>
	</div>

</h:body>
</html>
