<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body class="body--info">
	<div class="container">
		<p class="bg-danger">
		    Sorry, either name or password is incorrect please try again
		</p>
        <h:outputLink value="index.xhtml" class="btn btn-lg btn-primary btn-block">Login again</h:outputLink>
    </div>
</h:body>
</html>