<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Color Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body class="body--info" style="background-color: #{colorUser.colorName}">

	<div class="container">
		<h:form>
			<p class="bg-success"><h:outputText id="outputMessage" value="#{user.welcomeMessage !='' ? user.welcomeMessage : 'Please type something!'}"/></p>
			<h:inputText id="inputMessage" class="form-control" value="#{user.message}" required="true" requiredMessage="Please type something"></h:inputText>
			<h:message for="inputMessage" style="color:red" />
			<br/>
			<h:commandButton value="Show Message" class="btn btn-primary btn-lg btn-block">
				<f:ajax execute="inputMessage" render="outputMessage" />
			</h:commandButton>
		</h:form> 
		<br/><br/>
		<h:outputLink value="success.xhtml" class="btn btn-primary btn-lg btn-block">Back</h:outputLink>
	</div>
</h:body>
</html>
