<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:loginComposite="http://java.sun.com/jsf/composite/loginComposite">
<h:head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body style="background-color: #{colorUser.colorName}">
	<div class="container">
		<h:form class="loginForm">
			<loginComposite:loginComponent 
				usernameValue="#{user.firstName}" 
				passwordValue="#{user.password}"
				loginButtonLabel="Login" 
				loginButtonAction="#{user.login}" />
         </h:form>
    </div>
</h:body>
</html>