@CHARSET "UTF-8";

html {
	height: 100%;
}

body {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.7)) no-repeat;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0,0,0,0.7)) no-repeat;
	background-size: 100% 100%;
	background-position: center bottom;
    background-attachment: fixed;
	background-color: #2f6fd0;
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.body--info {
}
	.body--info .container {
		width: 450px
	}
	
.control-label {
	color: #fff;
}
	
.bg-success, .bg-danger {
 	padding: 15px;
 	margin-bottom: 15px;
}

.loginForm {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}

.loginForm .form-control {
    padding: 10px;
    font-size: 16px;
    height: auto;
}

.loginForm img {
	margin: 0 auto 30px;
	display: block;
}

.loginForm input[type="text"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}

.loginForm input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 30px;
}

.loginForm .bg-success, .loginForm .bg-error {
	display: block;
	margin-bottom: 20px;
}

.loginForm .bg-success:empty, .loginForm .bg-error:empty {
	display: none;
}

.loginFrom_signup {
	color: #fff;
	display: block;
	text-align: right;
	margin-top: 20px;
	font-size: 12px;
}

.loginFrom_signup a {
	color: #fff;
	text-decoration: underline;
}



#registerForm {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
}

#registerForm img {
	margin: 0 auto 30px;
	display: block;
}

#registerForm label {
	color: #fff;
}

#registerForm select[multiple="multiple"]{
	height: 80px;
}

#registerForm input[type=radio] {
	margin: 12px 5px;
	vertical-align: middle;	
}