<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body style="background-color: #{colorUser.colorName}">
	<div class="container">
		<h:form id="registerForm" class="form-horizontal">
			<h:graphicImage value="resources/login.png"/>
			<div class="form-group">
			    <label class="col-sm-4 control-label">First Name:</label>
			    <div class="col-sm-8">
			   		<h:message for="fname" style="color:red" />
					<h:inputText id="fname" class="form-control" value="#{user.firstName}" required="true" requiredMessage="Please enter your first name" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Last Name:</label>
			    <div class="col-sm-8">
			   		<h:message for="lname" style="color:red" />
					<h:inputText id="lname" class="form-control" value="#{user.lastName}" required="true" requiredMessage="Please enter your last name" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Email:</label>
			    <div class="col-sm-8">
			    	<h:message for="email" style="color:red" />
					<h:inputText id="email" class="form-control" value="#{user.email}" required="true" requiredMessage="Please enter your email id" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Password:</label>
			    <div class="col-sm-8">
			    	<h:message for="psw" style="color:red" />
					<h:inputSecret id="psw" class="form-control" value="#{user.password}" required="true" requiredMessage="Please enter your password" />
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Sex:</label>
			    <div class="col-sm-8">
			    	<h:message for="sex_id" style="color:red" />
					<h:selectOneRadio id="sex_id" value="#{user.sex}" required="true" requiredMessage="Please select your sex">
						<f:selectItem itemValue="Male" itemLabel="Male"></f:selectItem>
						<f:selectItem itemValue="Female" itemLabel="Female"></f:selectItem>
                    </h:selectOneRadio>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Carrer:</label>
			    <div class="col-sm-8">
			    	<h:message for="carrer_id" style="color:red" />
					<h:selectOneMenu id="carrer_id" class="form-control" value="#{user.carrer}" required="true" requiredMessage="Please select your carrer">
						<f:selectItem itemValue="Developer" itemLabel="Developer"></f:selectItem>
						<f:selectItem itemValue="Tester" itemLabel="Tester"></f:selectItem>
						<f:selectItem itemValue="Manager" itemLabel="Manager"></f:selectItem>
                    </h:selectOneMenu>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-4 control-label">Loking for role:</label>
			    <div class="col-sm-8">
			    	<h:message for="role_id" style="color:red" />
					<h:selectManyMenu id="role_id" class="form-control" value="#{user.role}" required="true" requiredMessage="Please select your carrer" >
                       <f:selectItem itemValue="Developer" itemLabel="Developer"></f:selectItem>
                       <f:selectItem itemValue="Tester" itemLabel="Tester"></f:selectItem>
                       <f:selectItem itemValue="Manager" itemLabel="Manager"></f:selectItem>
                    </h:selectManyMenu>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-4 col-sm-8">
					<h:commandButton value="Register" action="#{user.add}" class="btn btn-lg btn-primary btn-block" />
			    </div>
			</div>
         </h:form>
    </div>
</h:body>
</html>