<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Success Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body class="body--info" style="background-color: #{colorUser.colorName}">
	<div class="container">
		<p class="bg-success">
		    Successfully logged in<br/>
		    <strong>Hi, #{user.firstName}</strong>
		</p>
	    <h:form>
	        <h:commandLink value="Logout" action="#{user.logout}" class="btn btn-lg btn-primary btn-block"/>
	    </h:form>
	    <br></br>
	    <h:link value="Change Color" outcome="color" class="btn btn-lg btn-primary btn-block"/>
	    <br></br>
	    <h:link value="Say Hello" outcome="hello" class="btn btn-lg btn-primary btn-block"/>
	    <br></br>
	    <h:link value="Get time" outcome="time" class="btn btn-lg btn-primary btn-block"/> 
	</div>
</h:body>
</html>
