<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Color Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link rel="stylesheet" href="main.css"/>
</h:head>
<h:body class="body--info" style="background-color: #{colorUser.colorName}">

   	<div class="container">
		<h:form id="timeForm">
		<p class="bg-success"><h:outputText id="outputMessage" value="#{user.time != '' ? user.time : 'Please select your timezone!'}"/></p>  
			<h:selectOneMenu id="timeZone" class="form-control" value="#{user.timeZone}" required="true" requiredMessage="Please select your timezone!">
					<f:selectItem itemValue="#{null}" itemLabel=""></f:selectItem>
					<f:selectItem itemValue="1" itemLabel="UTC+1h"></f:selectItem>
					<f:selectItem itemValue="2" itemLabel="UTC+2h"></f:selectItem>
					<f:selectItem itemValue="3" itemLabel="UTC+3h"></f:selectItem>
			</h:selectOneMenu>
			<h:message for="timeZone" style="color:red" /><br/>
			<h:commandButton value="Get time" class="btn-block btn-lg btn-primary btn">
				<f:ajax execute="timeForm" render="outputMessage" />
			</h:commandButton>
	    </h:form> 
	    <br/><br/>
        <h:outputLink value="success.xhtml" class="btn-block btn-lg btn-primary btn">Back</h:outputLink>
	</div>				

</h:body>
</html>
